<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#manager" data-toggle="tab"><span class="glyphicon glyphicon-list-alt"></span> FileManager</a></li>
  <li><a href="#help" data-toggle="tab"><span class="glyphicon glyphicon-info-sign"></span> Help</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="manager"><iframe src="/elfinder/frontend" tabindex="-1" style="width: 100%; heigth: 100%"></iframe></div>
  <div class="tab-pane" id="help">Test</div>
</div>
