<!-- Include jQuery, jQuery UI, elFinder (REQUIRED) -->
<!-- https://github.com/Studio-42/elFinder/wiki/Integration-with-TinyMCE-4.x -->

<script type="text/javascript">
  var FileBrowserDialogue = {
    init: function() {
      // Here goes your code for setting your custom things onLoad.
    },
    mySubmit: function (URL) {
      // pass selected file path to TinyMCE
      top.tinymce.activeEditor.windowManager.getParams().setUrl(URL);

      // close popup window
      top.tinymce.activeEditor.windowManager.close();
    }
  }

  $().ready(function() {
    var rails_csrf = {};
    rails_csrf[$('meta[name=csrf-param]').attr('content')] = $('meta[name=csrf-token]').attr('content');

    var elf = $('#elfinder').elfinder({
      // set your elFinder options here
      lang: 'en',
      url: '/elfinder/backend?path='+encodeURIComponent("<%= params[:path] %>"),  // connector URL
      getFileCallback: function(file) { // editor callback
// actually file.url - doesnt work for me, but file does. (elfinder 2.0-rc1)
        FileBrowserDialogue.mySubmit(file); // pass selected file path to TinyMCE 
      },
      transport : new elFinderSupportVer1(),
      customData: rails_csrf
    }).elfinder('instance');      
  });
</script>

<div id='elfinder'></div>
