<div class="window box">
  <h3>Sportangebot</h3>
  <p>Zu unserem Sportangebot gelangen Sie <%= link_to "Hier", search_training_groups_path %></p>
</div>
<div class="window">
  <%= render :partial => 'messages/message_excerpt', :collection => @messages, :as => :message %>
</div>
<div class="window box">
  <h3>News Archiv</h3>
  <p><%= link_to "Hier", messages_path %> gelangen sie zu vergangenen Nachrichtigen in unserem Archiv</p>
</div>