<!-- TODO: improve structure of media container -->
<!-- Check wheather link does really work -->
<div class="mediaContainer <%= params[:align] %> <%= params[:size] %>">
  <div class="media">
    <a class="mediaLink" href="#">
      <img src="http://placehold.it/300x200" class="img-responsive">
    </a>
    <div class="mediaInfo">
      <p>Beschreibung</p>
    </div>
  </div>
</div>