<div class="row">
  <div class="col-md-6">
    <div class="window">

      <div class="mediaContainer">
        <div class="media">
          <a class="mediaLink" href="#">
            <img src="http://placehold.it/300x200" class="img-responsive">
          </a>
          <div class="mediaInfo">
            <p>Dies ist eine Beschreibung des obigen Bildes</p>
          </div>
        </div>
      </div>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, sapiente, dicta hic et illum iusto laborum architecto reprehenderit aperiam asperiores mollitia corrupti corporis at impedit fugiat explicabo consequuntur ipsam nam.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, sapiente, dicta hic et illum iusto laborum architecto reprehenderit aperiam asperiores mollitia corrupti corporis at impedit fugiat explicabo consequuntur ipsam nam.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, sapiente, dicta hic et illum iusto laborum architecto reprehenderit aperiam asperiores mollitia corrupti corporis at impedit fugiat explicabo consequuntur ipsam nam.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, sapiente, dicta hic et illum iusto laborum architecto reprehenderit aperiam asperiores mollitia corrupti corporis at impedit fugiat explicabo consequuntur ipsam nam.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, sapiente, dicta hic et illum iusto laborum architecto reprehenderit aperiam asperiores mollitia corrupti corporis at impedit fugiat explicabo consequuntur ipsam nam.</p>

    </div>
  </div>
</div>