<% content_for :title do %>
  <%= t('general.create_model', :model => Announcement.model_name.human ) %>
<% end %>

<% content_for :buttons do %>
  <%= link_to announcements_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    <%= t 'general.list' %>
  <% end %>
<% end %>

<%= render 'form' %>
