<div class="window homeCycle">
  <div class="mediaObject">
    <%= image_tag @home_cycle_slides.first.image.file.url(:cropped), :class => "img-responsive", :style => "width: 100%", size: '1088x363' %>

    <div class="mediaOverlay tabBar">
      <div class="container">
        <div class="tabs">
            <% @home_cycle_slides.each do |home_cycle_slide| %>
              <div class="tab">
                <a href="#"><%= home_cycle_slide.name %></a>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>