<div class="window homeCycle">
  <div class="mediaObject">

    <%= image_tag "home_cycle/verein1.jpg", :class => "img-responsive", :style => "width: 100%" %>

    <div class="mediaOverlay tabBar">
      <div class="container">
        <div class="tabs">
          <div class="tab" id="verein">
            <a href="#">Verein</a>
          </div>
          <div class="tab" id="sport">
            <a href="/training_groups/search">Sport</a>
          </div>
          <div class="tab" id="karneval">
            <a href="/departments/karneval">Karneval</a>
          </div>
          <div class="tab" id="ohlebach">
            <a href="/departments/ohlebach-theater">Ohlebach-Theater</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>