/* Border - Buttons etc */
$border-radius-small: 0;
$border-radius-base: 0;
$border-radius-large: 0;


/* Typography */
$link-color: #2a6496;
// $link-hover-color:      darken($link-color, 15%);

/* Grid */
$grid-gutter-width: 30px;