<div class="page-header">
  <%= link_to department_training_groups_path(@training_group.department), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to @training_group, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing training_group</h1>
</div>

<%= render 'form' %>
