<div class="page-header">
  <%= link_to department_training_groups_path(@department), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New training_group</h1>
</div>

<%= render 'form' %>
