<% content_for :title do %>
  <%#= t('general.create_model', :model => TrainingGroup.model_name.human ) %>
  <%= t('general.create_model', :model => @department.term_training_group ) %>
<% end %>

<% content_for :buttons do %>
  <%= link_to department_training_groups_path(@department), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    <%= t 'general.list' %>
  <% end %>
<% end %>

<%= render 'form' %>
