%div.window.box
  - if can? :create, NavigationElement
    = link_to new_department_navigation_element_path(@department), :class => 'btn btn-primary' do
      %span.glyphicon.glyphicon-plus
      New NavigationElement
  = link_to @department, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-th-list
    Index
  %h1 Manage NavigationElements

%div.window.box.thin
  %ol.sortable_tree{ data: { max_levels: 5, rebuild_url: rebuild_navigation_elements_url } }
    / = sortable_tree @navigation_elements
    = build_server_tree @navigation_elements, :title => :name, :type => :sortable