/* DataTables */
/*
div.dataTables_length label {
  white-space: nowrap;
}
.css_right {
  float: right;
}

.control-label {
  vertical-align: bottom !important;
}

.dataTables_processing {
  padding-top: 7px;
  padding-bottom: 7px;
}

.table.dataTable {

  th.sorting_asc, th.sorting_desc {
    background-color: #F9F9F9;
  }

  tr.odd td, tr.odd td.sorting_1 {
    background-color: #F0F0F0;
  }

  tr.odd td, tr.even td.sorting_1 {
    background-color: #F9F9F9;
  }
}*/

/*.fg-button.ui-button.ui-state-default{
  display: inline-block;
}*/

/*.dataTables_wrapper .dataTables_paginate .paginate_button {
  &, &:hover{
    padding: 0;
    border: 0;
  }
}*/

.table.dataTable td {
  /*word-wrap: break-word;
  overflow: hidden;
  white-space: pre-wrap;*/
}

.dataTables_paginate {
  .pagination {
    li.ui-state-default {
      display: inline-block;
      border: none;
      margin-left: 3px;
      margin-right: 0;
      a {}
    }
  }
}


// https://github.com/Comanche/datatables-responsive/blob/master/files/1.10/css/datatables.responsive.css
table.has-columns-hidden > tbody > tr > td > span.responsiveExpander {
    background: image-url('dataTables/plus.png') no-repeat 5px center;
    padding-left: 32px;
    cursor: pointer;
}

table.has-columns-hidden > tbody > tr.detail-show > td span.responsiveExpander {
    background: image-url('dataTables/minus.png') no-repeat 5px center;
}

table.has-columns-hidden > tbody > tr.row-detail > td {
    background: #eee;
}

table.has-columns-hidden > tbody > tr.row-detail > td > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

table.has-columns-hidden > tbody > tr.row-detail > td > ul > li > span.columnTitle {
    font-weight: bold;
}