.events ul {
  // No need to set list-style: none; since .list-group-item is block level
  // margin-bottom: 20px;
  padding-left: 0; // reset padding because ul and ol

  li {
    display: block;
    position: relative;
    display: block;
    padding: 5px 15px;
  }
}