// http://css-tricks.com/examples/ShapesOfCSS/
// http://coursesweb.net/css/polygons-css_cs
// http://stackoverflow.com/questions/7073484/how-does-this-css-triangle-shape-work
/*.publication-marker {
  width: 0;
  height: 0;
  &.topleft {
    right: 6px;
  }
  &.published{
  border-top: 20px solid green;
  }
  &.unpublished{
    border-top: 20px solid red;
  }
  border-left: 20px solid transparent;
}*/

.publication-marker {
  color: red;
  &.published {
    color: green;
  }
}

.message-excerpt {
  overflow: hidden; /* Needed to prevent image from exceeding message dimensions */

  .heading {

    .title, .date {
      font-size: 1em;
    }

    .title {
      font-weight: bold;
      .department {
        font-weight: normal;
        white-space: nowrap;
        &:hover { text-decoration: underline; }
      }
    }

    .date {
      text-align: right;
      min-width: 100px;
      @media (max-width: $screen-xs-max) {
        display: none;
      }
      float: right;
      margin-left: 10px;
    }
  }

  /*.body {
    .content {
    }
  }*/

  &.large {
    .media-object {
      float: left;
      margin-right: 10px;
      box-shadow: 2px 2px 3px 0px #333;
    }
    .media + .body {
      @media (min-width: $screen-sm-min) {
        margin-left: 140px;
      }
    }
  }

  &.small {
    .media-object {
      float: right;
      margin-left: 10px;
      box-shadow: 2px 2px 3px 0px #333;
    }
    .media + .body {
      margin-right: 74px;
    }
    .heading {
      .title {
        .department { display: none; }
      }
      .date { display: none; }
    }
    .content {
      font-size: 0.9em;
      .more { display: none; }
    }
  }
  &.large {
    .heading { margin: 10px 0px; }
  }
}