// http://css-tricks.com/examples/ShapesOfCSS/
// http://coursesweb.net/css/polygons-css_cs
// http://stackoverflow.com/questions/7073484/how-does-this-css-triangle-shape-work
/*.publication-marker {
  width: 0;
  height: 0;
  &.topleft {
    right: 6px;
  }
  &.published{
  border-top: 20px solid green;
  }
  &.unpublished{
    border-top: 20px solid red;
  }
  border-left: 20px solid transparent;
}*/

.publication-marker {
  color: red;
  &.published {
    color: green;
  }
  //&.unpublished {
  //  color: red;
  //}
}

.media.message-excerpt {

  .media-heading {
    display: table;
    width: 100%;

    .title, .date {
      display: table-cell;
      font-size: 1em;
    }

    .title {
      font-weight: bold;
      .department { font-weight: normal; white-space: nowrap;
        &:hover { text-decoration: underline; }
      }
    }

    .date {
      text-align: right;
      min-width: 100px;
      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }
  }

  .content {
    display: block;
  }

  &.small {
    .media-heading {
      .title {
        .department { display: none; }
      }
      .date { display: none; }
    }
    .content {
      font-size: 0.9em;
      .more { display: none; }
    }
  }
  &.large {
    .media-heading { margin: 10px 0px; }
  }
}