<div class="page-header">
  <%= link_to pages_path, :class => 'btn' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <% if can? :update, @page %>
    <%= link_to edit_page_path(@page), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
      Edit
    <% end %>
  <% end %>
  <h1>Show page</h1>
</div>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @page.title %></dd>

</dl>
