%div.window.box
  / - if can? :create, Link
  /   = link_to new_department_link_path(@department), :class => 'btn btn-primary' do
  /     %span.glyphicon.glyphicon-plus
  /     New Link
  = link_to department_links_path(@department), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-th-list
    Index
  %h1 Manage Links

%div.window.box.thin
  %ol.sortable_tree{ data: { max_levels: 5, rebuild_url: rebuild_links_url } }
    / = sortable_tree @links
    = build_server_tree @links, :title => :name, :type => :sortable