<div class="banner">
  <div class="mediaObject">
    <%#= image_tag "Ortslauf10176-long.jpg", :class => "img-responsive", :style => "width: 100%" %>
    <%#= image_tag "6c260e8272-long.jpg", :class => "img-responsive" %>
    <%#= image_tag "care-now-NightRun-2013-11-long.jpg", :class => "img-responsive", :style => "width: 100%" %>

    <%= image = image_tag(@theme.banner.file_url(:cropped), :class => "img-responsive") %>

    <div class="mediaOverlay info">
      <div class="container">
        <div class="row">
          <div class="col-xs-4 col-xs-offset-8 hidden-xs">
            <div class="box obtrusive">
              <h5><%= @theme.name %></h5>
              <p><%= @theme.description %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>