<div class="banner">
  <div class="mediaObject">
    <%#= image_tag "Ortslauf10176-long.jpg", :class => "img-responsive", :style => "width: 100%" %>
    <%= image_tag "6c260e8272-long.jpg", :class => "img-responsive" %>
    <%#= image_tag "care-now-NightRun-2013-11-long.jpg", :class => "img-responsive", :style => "width: 100%" %>

    <div class="mediaOverlay info">
      <div class="container">
        <div class="row">
          <div class="col-xs-4 col-xs-offset-8 hidden-xs">
            <div class="box obtrusive">
              <h5>Leichtathletik</h5>
              <p>Mit 5 Gruppen zu je 2 Terminen bietet die Abteilung Leichtathletik attraktive angebote für rund 200 Athleten</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>