body {
  /*background-image: url("background.jpg");*/
  background-size: auto auto;
  background-attachment: fixed;
  vertical-align: baseline;
}

li, h1, h2, h3, h4, h5 {
    line-height: 125%;
}

.window {
  margin-bottom: 10px;
  background-color: #ffffff;
}

.box {
  background-color: #F9F9F9;
  background-image: linear-gradient(to bottom, white, #F2F2F2);
  background-repeat: repeat-x;
  padding: 4px;
}

.collapse {
  padding: 0;
}

.carousel {
  margin-bottom: 0;
  & p {
    margin-bottom: 0;
  }
}

/* Navigation */

#tgt-logo {
  border: 0;
  height: 36px;
  margin: 6px 12px 6px 0px;
  vertical-align: middle;
  /*background-image: url("tgt-logo.png");
  background-size: 16px;
  background-repeat: no-repeat;*/
  display: block;
  float: left;
}

ul.nav li.dropdown:hover ul.dropdown-menu { 
  display: block; 
}