
$navigationBlue: #000066;

$backgroundFirstLevel: $navigationBlue;
$backgroundFirstLevelHover: #FFFFFF;
$colorFirstLevel: #FFFFFF;
$colorFirstLevelHover: $navigationBlue;
$backgroundSecondLevelHover: #0066AA;
$colorSecondLevel: #000000;
$colorSecondLevelHover: #FFFFFF; /*$navigationBlue;*/
/* --> */
$colorThirdLevelMobile: #DDDDDD;

$dropdown: #FFFFFF;
$dropdownBorder: #AAAAAA;

$separator: #CCCCCC;

.navigation-bar.blue {
  background-color: $backgroundFirstLevel;

  .navigation {
    a {
      color: $colorFirstLevel;
    }

    li a:hover {
      background-color: $backgroundFirstLevelHover;
      color: $colorFirstLevelHover;
    }

    li ul {
      background-color: $dropdown;
    }

    li li a {
      color: $colorSecondLevel;
    }
    li li a:hover {
      background-color: $backgroundSecondLevelHover;
    }
  }

  /* Mobile */

  .navigation-collapse.mobile {

    li:not(:first-child)>a, ul {
      border-top: 1px solid $separator;
    }

    li li li a {
      background-color: $colorThirdLevelMobile;
    }
  }

  /* Desktop */

  .navigation-collapse.desktop {
    li.active>a {
      background-color: $backgroundFirstLevelHover;
      color: $colorFirstLevelHover;
    }

    li li:not(:first-child)>a {
      border-top: 1px solid $separator;
    }

    li ul {
      border: 0px solid $dropdownBorder;
    }

    li li a:hover, li li.active>a {
      background-color: $backgroundSecondLevelHover;
    }

    .navigation > li {
      & > a .indicator {
        @include caret($caretSize, $colorFirstLevel, down);
      }
      &.active > a .indicator, a:hover .indicator{
        border: 0;
        @include caret($caretSize, $colorFirstLevelHover, down);
      }
    }

    .navigation.left li li {
      a .indicator {
        @include caret($caretSize, $colorSecondLevel, right);
      }
      &.active > a .indicator, a:hover .indicator{
        border: 0;
        @include caret($caretSize, $colorSecondLevelHover, right);
      }
    }
    .navigation.right li li {
      a .indicator {
        @include caret($caretSize, $colorSecondLevel, left);
      }
      &.active > a .indicator, a:hover .indicator{
        border: 0;
        @include caret($caretSize, $colorSecondLevelHover, left);
      }
    }
  }
}