.previewCycle {
} 
 
.previewCycle img {
  background-color: #eee;
}




.cycle-slideshow {
  width: 100%;
  /*height: 360px;*/ /* No longer needed because of data-cycle-auto-height */
  /* CSS Aspect ratio:
    http://ansciath.tumblr.com/post/7347495869/css-aspect-ratio
    http://stackoverflow.com/questions/5445491/height-equal-to-dynamic-width-css-fluid-layout */
  overflow: hidden;
  position: relative;
  /*background-color: rgb(50, 0, 0);*/
  a {
    display: block;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
    }
  }
  .overlay {
    background-color: rgba(0,0,0,0.6);
    padding: 12px;
    color: white;
    font-size: 1.1em;
    line-height: 1.5em;
    position: absolute;
    bottom: 0;
    z-index: 150;
    left: 0;
    right: 0;
    width: 100%;
    .progress {

    }
    /*.cycle-overlay {
      .page {
        float: right;
      }
      .caption {
        float: left;
      }
    }*/
    /* http://stackoverflow.com/questions/9320017/place-floating-contents-at-the-bottom-right-of-a-paragraph-of-text */
    .cycle-overlay {
      position:relative; padding-right: 3em;
      min-height: 3em;
      .caption {
      }
      .page {
        position:absolute; right: 0; bottom: 0; width: 3em; text-align: right;
      }
      p {
        margin-bottom: 0;
      }
    }
  }
}
