.cycle, .cycle2 {
    margin:20px;
    background:#fff
}
img {width:100%;}
.wrap {height:300px; margin:5px; padding: 5pc; background:#eee}




.preview_cycle_wrapper {
  background:#eee;
}

.preview_cycle {  
  /*height:  232px;
  width:   232px;*/
  /*padding: 0;
  margin:  0;*/

  background: #eee;
  /*max-width: 800px;*/
  width: 100%;
  margin: 0 auto;
} 
 
.preview_cycle img {
  background-color: #eee;
  /*width:  200px;
  height: 200px;*/
  /*top:  0;
  left: 0;*/
  width: 100%;
  position: relative;
  max-width: 100%;
  /*width: auto !important;*/
  /*height: auto !important;*/
} 

.image-wrapper {
  margin-bottom: 20px;
  border: 1px solid #CCCCCC;
  .caption {
    padding: 5px;
    .title {
      color: #3060A0;
      font-weight: bold;
      display: block;
      font-size: 0.9em;
    }
    .content {
      color: #999999;
      display: block;
      font-size: 0.7em;
    }
  }
}