/* Schedule */

table.schedule.false {
  thead tr th.first_column {
    border-left-width: 2px;
  }
  tbody {
    tr {
      height: 23px;
      min-height: 23px;
      th {
        font-size: $font-size-small;
        padding: 2px 6px 2px  6px;
      }
      td {
        padding: 2px 6px 2px  6px;
        &.first_column {
          border-left-width: 2px;
        }
        /*&.even {
          background-color: #FFFFFF;
        }
        &.odd {
          background-color: #FFFFFF;
        }*/

        &.event {
          /*color: #468847 !important;
          background-color: #DFF0D8 !important;
          border-color: #D6E9C6 !important;
          border-radius: 8px !important;
          vertical-align: middle !important;*/

          /*border-left-color: #FF0000;*/
          border-left-width: 3px;
          vertical-align: middle !important;
          /*&:hover {
            background-image: linear-gradient(to top, white, #F2F2F2);
          }*/
          @extend .box
        }
      }
    }
    /*tr:nth-child(2n+1) {
      td.even {
        background-color: #F9F9F9;
      }
      td.odd {
        background-color: #F0F0F0;
      }
    }*/
  }
}

table.schedule {
  thead tr th.first_column {
    border-left-width: 2px;
  }
  tbody {
    tr {
      height: 23px;
      min-height: 23px;
      th {
        font-size: $font-size-small;
        padding: 2px 6px 2px 6px;
      }
      td {
        &.first_column {
          border-left-width: 2px;
        }

        &.event {
          border-left-width: 3px;
          vertical-align: middle !important;
          height: 100%;
          a {
            padding: 2px 6px 2px 6px;
            border-radius: 5px !important;
            color: black;
            display: block;
            border: 1px solid #A3D38D;
            background-color: #DFF0D8 !important;
            height: 100%;
            min-height: 100%;
            vertical-align: middle !important;
          }
        }
      }
    }
  }
}