/* Does not seem to work
maybe it has to be included before bootstrap */

/* NON RESPONSIVE START */

.navbar.navbar-inverse.navbar-fixed-top {
  position: absolute;
}

$grid-float-breakpoint: 0px;

.container{
  max-width: none !important;
  width: 970px !important;
}

.container-non-responsive {
  margin: 0 auto;
  width: 970px;
}

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs:                  0; //480px;
$screen-xs-min:              $screen-xs;
$screen-phone:               $screen-xs-min;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
$screen-sm:                  0; //768px;
$screen-sm-min:              $screen-sm;
$screen-tablet:              $screen-sm-min;

$screen-xs-max: 0;
/* http://stackoverflow.com/questions/18901333/non-responsive-navbar-with-bootstrap-3 */

/* NON RESPONSIVE END */