/* List Groups */
ul.list-group {
  margin-bottom: 10px;
}

ul.list-group li.list-group-item {
  @include border-top-radius(0px); 
  @include border-bottom-radius(0px);

  &:hover {
    background-color: #EEEEEE;
  }

  a {
    color: #000;
    &:visited {
      color: #666;
    }
    &:hover {
      color: #fff;
    }
  }
}

/* Sidebar */
#sidebar {
  .events ul {
    // No need to set list-style: none; since .list-group-item is block level
    // margin-bottom: 20px;
    padding-left: 0; // reset padding because ul and ol

    li {
      display: block;
      position: relative;
      display: block;
      padding: 5px 15px;
    }
  }
}

.form-control.colorpicker {
  padding: 6px 12px;
}

div.pill {
  display: inline-block;
  a {
    background: linear-gradient(to bottom, #08c, #04c);
    border-radius: 6px;
    color: #fff;
    padding: 1px 8px;
    white-space: nowrap; /* causes errors in opera on small displays */
    white-space: pre-wrap;
    max-width: 100px;

    &:hover {
    background: linear-gradient(to bottom, #04c, #08c);
      color: #ddd;
      text-decoration: none;
    }
    /*box-shadow:5px 0 0 #0058be, -5px 0 0 #0058be;
    margin-left:0;*/
  }
}

dl {
  dd {
    margin-left: 20px;
  }
}

.nested-fields .wrapper {
  background-color: #E9E9E9;
  padding: 10px;
}

.no-wrap {
  white-space: nowrap !important;
}

/* Table */
.tableActions {
  a {
    display: inline-block;
  }
}
.department-indicator {
  &.horizontal {
    height: 2px;
  }
  display: none;
}

.department-indicator.horizontal {
}

label.checkbox {
  font-weight: normal;
}



#announcement-carousel.carousel {
  .carousel-indicators {
    bottom: 0;
  }
  .carousel-inner {
    .item {
      height: 400px;
      .carousel-caption {
        /* http://www.mediaevent.de/css/gradient.html */
        /*background-color: rgba(0,0,0,0.5);*/
        background-image: linear-gradient(to bottom, rgba(0,0,96,0.0) 10%, rgba(0,0,32,0.8) 40%);
        color: white;
        left: 0;
        right: 0;
        bottom: 0;
        padding-top: 30px;
        padding-bottom: 30px;
      }
    }
  }
}

.controls {
  overflow: hidden;
  .button {
    background-image: linear-gradient(to bottom, #000090 0%, #003070 100%);
    float: left;
    margin: 5px 10px 5px 0px;
    font-size: 0.9em;
    a {
      color: white;
      display: block;
      padding: 4px 12px;
    }
    &:hover {
      background-image: none;
      /*background-color: #C0C0C0;*/
      a {
        color: #000090;
      }
    }
  }
}