<div class="col-md-3 col-sm-4 col-xs-6">
  <div class="mediaWrapper">
    <div class="mediaObject">
      <%= link_to( trainer, :title => trainer.name ) do %>
        <%= image_tag(image_url(trainer.photo, :cropped, :_240x180), :class => "img-responsive") %>
      <% end %>
    </div>
    <div class="mediaText">
      <%= link_to trainer, :class => "title" do %>
        <%= trainer.name %>
      <% end %>
    </div>
  </div>
</div>