<%# Alternative: http://jasny.github.io/bootstrap/javascript/#fileinput %>
<%#= f.input :file, :as => :file %>
<div class="form-group file optional training_group_image_file">
  <label class="file optional col-lg-3 control-label" for="training_group_image_attributes_file"><%= Image.model_name.human %></label>

  <div class="col-lg-9 col-xs-12" style="display: table">

    <%#= content_tag :div, :style =>"display: table-cell; vertical-align: middle" do %>
      <%#= link_to(image_tag(image.file_url(:thumb), :size => "64x48"), image.file_url, :class => "fancybox") %>
    <%# end if image.file.present? %>

    <%= content_tag :div, :style =>"display: table-cell; vertical-align: middle" do %>
      <div class="input-group">
        <span class="input-group-btn">
          <span class="btn btn-default btn-file">
            <%= t "general.browse" %>…
            <%= f.file_field :file, :class => "file btn btn-file fileinput-button" %>
          </span>
        </span>
        <input class="form-control" type="text" readonly="">
      </div>
    <% end %>

  </div>
</div>