<div class="page-header">
  <%= link_to polymorphic_path([@parent, Image]), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New image</h1>
</div>

<%= render 'form' %>
