body {
  background-image: image-url("background.jpg");
  background-size: auto auto;
  background-attachment: fixed;
  /*background-color: #BFD3EA;*/
}

.window {
  /*background-color: #ffffff;*/
  box-shadow: 2px 2px 3px 0px #333;
}

.box {
  &:not(.obtrusive){
    background-color: #F9F9F9;
    background-image: linear-gradient(to bottom, white, #F2F2F2);
    background-repeat: repeat-x;
  }
  /*&.highlighted {
    background-color: #E1E1E1;
  }*/
  /*overflow: auto;*/ /* needed to prevent floating boxes to expand out of this box (mediaBoxs inside ps) */
  /* Shadow effects */

  &.obtrusive {
    background-color: #D7D7D7;
    background-color: #000066;
    color: white;
    a {
      color: white;
    }
  }

  .box-header {
  }
}

.plain {
  background-color: #FFFFFF;
}

.pageContent {
  background-color: rgba(255,255,255,0.0);
}


/* Header */
#header {

  /*#logo {
    background-image: asset-url('logo/blue-trans.png');
  }

  #title {
    vertical-align: top;
    border-left: 1px solid #C0C0C0;
    padding-left: 10px;
    h4 {}
  }*/
  
  color: white;

  #logo {
    background-image: asset-url('logo/white-trans.png');
  }

  #title {
    h4 {}
  }

  .left {}

  .middle {}
}